@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand:300,400|Raleway&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    color: #fff;
}
a:hover{
    color: #a2836e;
}
.main-content{
    margin: 0 auto;
    padding: 0;
    border: none;
}
.hamburguer{
    display: none;
}
/*------------------------------Header-----------------------*/
nav{
   height: 10vh;
   background-color:  #674d3c;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.navigation{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center; 
    margin-left: auto;
    width: 40%;
}
.logo h4{
    color: rgb(255, 255, 255);
    height: 100%;
    font-size: 22px;
    font-weight: 200;
    padding: 5vh;
}
.logo span{
    font-family: 'Lobster', cursive;
    font-size: 22px;
}
.hamburguer div{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* --------------------------------Welcome Section--------------------------------*/
.welcome{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-image: url(photos/welcome.jpg);
    background-repeat: no-repeat;
}

/*------------------------------- TEXT ANIMATION -----------*/
.welcome h1, h3{
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 200;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.welcome h1, h3{
    animation: text 5s 1;
}
@keyframes text{
    0%{
        color: white;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 10px;
    }
    50%{
        letter-spacing: 5px;
    }
}
.welcome span{
    font-family: 'Raleway', 'cursive';
    font-weight: 200;
    
}
.welcome i{
    padding: 10px;
    margin: 0;
    font-size: 45px;
}
.links{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Skills tab-------------------------------------------------*/
.skills{
    width: 50%;
    height: 500px;
    background-image: url(photos/skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.skills-square{
    background: rgba(0, 0, 0, 0.85);
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
.skills-square h2{
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 4px;
    font-weight: 200;
}
.skills-square ul{
    color: white;
}
.skills-square li{
    padding: 25px;
}
.skills2{
    float: left;
    width: 50%;
    height: 500px;
    background-image: linear-gradient(90deg, #d9ad7c, #805b31);
    position: relative;
    
}
.skills2 h2{
    letter-spacing: 3px;
    padding-top: 80px;
    text-align: center;
}
.skills2 p{
    font-size: 19px;
    padding: 20px 15px;
    line-height: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-80%);
}
/*Projects section------------------------*/
.projects{
    width: 100%;
    height: 650px;
    background-image: url(photos/projectB.jpg);
    background-repeat: no-repeat;
    display: grid;
}
.projects h1{
    text-align: center;
    font-weight: 300;
}
.project-container{
    background-color: rgba(2, 2, 2, .75);
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    height: 500px;
    position: relative;
}
.card1{
    position:relative;
    width: 250px;
    height: 450px;
    background-image: linear-gradient(90deg, #d9ad7c, #805b31);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.80);
    transition: 0.3s;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card1-content i{
    padding-bottom: 5px;
}
.card1 a:hover{
    color: black;
}

.card1:hover{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,1);
}
.card1 h4{
    padding: 15px;
    text-align: center;
}
.card1 p{
    padding: 7px;
}
.img-cont{
    display: flex;
    justify-content: center;
}
.card1 img{
    height: 300px;
    padding: 0;
    clip-path: circle(45%);
    padding: 5px;
    max-width: 200px;
    max-height: 200px;
}
.card1 a{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

/*------------------/footer*/

footer{
    background-image: url(photos/communication.jpg);
    padding: 20px;
}
.contact{
    background: rgba(0, 0, 0, 0.75);
    width: 75%;
    margin: 0 auto;
    height: 480px;
    border-radius: 15px;
    text-align: center;
}
.contact h1{
    color: #fff;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 10px;
}
.inputs{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
.buttons{
    background: #d9ad7c;
    border-color: transparent;
    width: 600px;
    color: #fff;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 15px;
}
.buttons:hover{
    font-size: 28px;
    background: #8b6d4a;
    cursor: pointer;
}
.success{
    font-size: 24px;
    font-weight: 400;
    color: green;
}

/*-----------------------frame--------------------------*/

.hidden{
    width: 100%;
    display: none;
}

/*----------------------Responsive---------------------*/
@media only screen and (max-width: 1024px){
    .navigation{
        width: 60%;
    }
}
@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .navigation{
        position: absolute;
        right: 0px;
        height: 56vh;
        top:8vh;
        background-color: #674d3c;
        display: flex;
        flex-direction: column; 
        z-index: 2;
        width: 50%;
        transform: translateX(100%);
        
    }
    .navigation li {
        opacity: 0;
    }
    .hamburguer{
        display: block;
        cursor: pointer;
    }
    .inputs{
        width: 400px;
    }
    .buttons{
        width: 400px
    }

}
@media only screen and (max-width: 414px){
    body{
        overflow-x: hidden;
    }
    .hamburguer{
        display: none;
    }
    .welcome h1, h3{
        padding: 5px;
        animation: none;
    }
    .welcome h1{
        padding-bottom: 30px;
    }
    .welcome i {
        font-size: 28px;
    }
    .navigation{
        display:none;
    }
    .navigation li {
        opacity: 0;
    }
    .skills{
        display: block;
        width: 100%;
      }
      .skills2{
        width: 100%;
        
      }
      .skills-square{
          background: rgba(0, 0, 0, 0.85);
          width: 380px;
          height: 450px;
          border-radius: 15px;
          margin: 0 auto;
      }
      .inputs{
          width: 200px;
      }
      .buttons{
          width: 200px;
          font-size: 16px;
      }
}
@media only screen and (max-width: 320px){
    .skills-square{
      width: 100%; 
    }
    .welcome i{
      padding-bottom: 40px;
    }  
    .skills2 h2{
        letter-spacing: 1px;
        padding-top: 50px;
        text-align: center;
        font-size: 20px;
    }
    .skills2 p{
        font-size: 16px;
    }
    .skills2{
        font-size: 18px;
    }

}
@media only screen and (max-width: 375px){
   .welcome i{
       padding-bottom: 20px;
   }
   .skills-square{
       width: 100%
   }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}