@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand:300,400|Raleway&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{
    color: #fff;
}
a:hover{
    color: #a2836e;
}
.main-content{
    margin: 0 auto;
    padding: 0;
    border: none;
}
/*------------------------------Header-----------------------*/
header{
    width: 100%;
    height: 80px;
    background-color: #674d3c;
    display: block;
}
.inner-header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: crimson;  */
}
.logo{
    height: 100%;
    display: table;
    float: left;
}
.logo h4{
    color: rgb(255, 255, 255);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 200;
}
.logo span{
    font-family: 'Lobster', cursive;
    font-size: 22px;
}
.navigation {
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
}
/* --------------------------------Welcome Section--------------------------------*/
.welcome{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-image: url(photos/welcome.jpg);
    background-repeat: no-repeat;
}
.welcome h1, h3{
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 200;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.welcome span{
    font-family: 'Raleway', 'cursive';
    font-weight: 200;
    
}
.welcome i{
    padding: 10px;
    margin: 0;
    font-size: 75px;
}
.links{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Skills tab-------------------------------------------------*/
.skills{
    width: 50%;
    height: 500px;
    background-image: url(photos/skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.skills-square{
    background: rgba(0, 0, 0, 0.85);
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
.skills-square h2{
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 4px;
    font-weight: 200;
}
.skills-square ul{
    color: white;
}
.skills-square li{
    padding: 25px;
}
.skills2{
    float: left;
    width: 50%;
    height: 500px;
    background-image: linear-gradient(90deg, #d9ad7c, #805b31);
    position: relative;
    
}
.skills2 h2{
    letter-spacing: 3px;
    padding-top: 80px;
    text-align: center;
}
.skills2 p{
    font-size: 19px;
    padding: 20px 15px;
    line-height: 35px;
    position: relative;
    top: 50%;
    transform: translateY(-80%);
}
/*Projects section------------------------*/
.projects{
    width: 100%;
    height: 450px;
    background-image:linear-gradient(-90deg, #eebd85, #7c5a33);;
    display: grid;
}
.projects h1{
    text-align: center;
    font-weight: 300;
}
.project-container{
    background: rgba(0, 0, 0, 1);
    margin: 0 auto;
    width: 80%;
    height: 350px;   
}

/*------------------/footer*/

footer{
    background-image: url(photos/communication.jpg);
    padding: 20px;
}
.contact{
    background: rgba(0, 0, 0, 0.75);
    width: 75%;
    margin: 0 auto;
    height: 480px;
    border-radius: 15px;
    text-align: center;
}
.contact h1{
    color: #fff;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 10px;
}
.inputs{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
.buttons{
    background: #d9ad7c;
    border-color: transparent;
    width: 600px;
    color: #fff;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 15px;
}
.buttons:hover{
    font-size: 28px;
    background: #8b6d4a;
    cursor: pointer;
}